* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    background-color: rgb(255, 146, 192);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 131, 182);

}

#botoes {
    display: flex;
    flex-direction: column;
}

.botao {
    margin: 10px;
    height: 40px;
    width: 100px;
    background-color: white;
}

#resultado {
    background-color: azure;
    border-radius: 2px;
    width: 20vw;
}

.saida {
    height: 20px;
    margin-left: 10px;
}

.botao:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.separacao {
    border: solid 1px black;
}

#inputs input {
    padding: 5px;
}